room_controller/flows_DEV-ROOMCTRL.json
[{"id":"99c79979.bfcad8","type":"tab","label":"Room Main","disabled":false,"info":""},{"id":"512d279b.4ca158","type":"tab","label":"1) FUEL","disabled":false,"info":"Puzzle: Fuel"},{"id":"be750b2a.827588","type":"tab","label":"2) PRESSURE","disabled":false,"info":"Puzzle: Pressure"},{"id":"62fad8ec.96f7a8","type":"tab","label":"3) POWER","disabled":false,"info":"Puzzle: Power"},{"id":"5f25f351.1372ac","type":"tab","label":"4) PATCH","disabled":false,"info":"Puzzle: Patch"},{"id":"c227dc9a.9174e","type":"tab","label":"AND-Solve","disabled":false,"info":"AND-Solve Logic"},{"id":"24f803df.6be70c","type":"tab","label":"5) KEYS","disabled":false,"info":"Puzzle: Keys"},{"id":"61f84baa.8c8894","type":"tab","label":"6) REACTOR","disabled":false,"info":"Puzzle: Reactor"},{"id":"d5a93789.4a5258","type":"tab","label":"LIGHT DEMO","disabled":false,"info":""},{"id":"df4a0162.dfe4a","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"2314bf76.4267c","type":"mqtt-broker","z":"","name":"Demo","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"status","birthQos":"1","birthRetain":"true","birthPayload":"CONNECTED","closeTopic":"status","closeQos":"1","closeRetain":"true","closePayload":"NOT CONNECTED","willTopic":"status","willQos":"1","willRetain":"true","willPayload":"DISCONNECTED"},{"id":"c82f5183.9a8a","type":"ui_group","z":"","name":"First Group","tab":"","disp":true,"width":"6","collapse":false},{"id":"ee62f818.acb6a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#a210b1","baseFont":"Trebuchet MS,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#560080","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#560080","edited":true},"page-titlebar-backgroundColor":{"value":"#560080","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#8900cc","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#560080","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"QuestFactor - DEMO ROOM","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"927afc1a.c4882","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"8dbfd990.a443f8","type":"ui_tab","z":"","name":"MAIN","icon":"fa-puzzle-piece","order":1,"disabled":false,"hidden":false},{"id":"5943de0.d3ff024","type":"ui_group","z":"","name":"FUEL","tab":"8dbfd990.a443f8","order":3,"disp":true,"width":"12","collapse":false},{"id":"c8d65b06.a653d8","type":"ui_group","z":"","name":"First Group","tab":"","disp":true,"width":"6","collapse":false},{"id":"53c620c5.663e3","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"94ccaae3.cad168","type":"ui_group","z":"","name":"PRESSURE","tab":"8dbfd990.a443f8","order":4,"disp":true,"width":"12","collapse":false},{"id":"5ad158a1.d39508","type":"ui_group","z":"","name":"OVERVIEW","tab":"8dbfd990.a443f8","order":2,"disp":false,"width":"12","collapse":false},{"id":"55f9d81b.fb91b8","type":"ui_group","z":"","name":"REACTOR","tab":"8dbfd990.a443f8","order":8,"disp":true,"width":"12","collapse":false},{"id":"32dabca5.537cb4","type":"ui_group","z":"","name":"PATCH","tab":"8dbfd990.a443f8","order":6,"disp":true,"width":"12","collapse":false},{"id":"6fb87e15.fde1f","type":"ui_tab","z":"","name":"ADVANCED","icon":"fa-cogs","order":2,"disabled":false,"hidden":false},{"id":"c4c9e234.e4812","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"fda5fcf7.c212f","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"b2a4f9fb.888c78","type":"ui_spacer","name":"spacer","group":"","order":2,"width":"3","height":1},{"id":"7956ed12.01e8d4","type":"ui_spacer","name":"spacer","group":"","order":8,"width":"3","height":1},{"id":"4a716f9d.87e68","type":"ui_group","z":"","name":"POWER","tab":"8dbfd990.a443f8","order":5,"disp":true,"width":"12","collapse":false},{"id":"490e54df.d9d60c","type":"ui_spacer","name":"spacer","group":"","order":4,"width":"3","height":1},{"id":"1e6589b1.6c0476","type":"ui_spacer","name":"spacer","group":"","order":6,"width":"3","height":1},{"id":"b486328a.4aa6","type":"ui_group","z":"","name":"STATUS VIEW","tab":"6fb87e15.fde1f","disp":true,"width":"12","collapse":false},{"id":"34c89c9f.e0d0c4","type":"ui_tab","z":"","name":"LIGHT DEMO","icon":"dashboard","disabled":false,"hidden":false},{"id":"46fec4aa.b4c85c","type":"ui_group","z":"","name":"BUTTONS","tab":"34c89c9f.e0d0c4","disp":false,"width":"6","collapse":false},{"id":"d99cebb4.4adc38","type":"ui_group","z":"","name":"KEYS","tab":"8dbfd990.a443f8","order":7,"disp":true,"width":"12","collapse":false},{"id":"38ad5138.e2443e","type":"ui_spacer","name":"spacer","group":"e87c9b5.a8c8068","order":1,"width":1,"height":1},{"id":"c41c77e7.51a588","type":"ui_group","z":"","name":"HEADER","tab":"8dbfd990.a443f8","order":1,"disp":false,"width":"12","collapse":false},{"id":"14eb5227.670f9e","type":"ui_text","z":"99c79979.bfcad8","group":"5ad158a1.d39508","order":3,"width":"6","height":"1","name":"TIME LEFT","label":"TIME LEFT:","format":"{{msg.payload}}","layout":"row-center","x":1056.5,"y":341,"wires":[]},{"id":"6de6c483.097b4c","type":"inject","z":"99c79979.bfcad8","name":"","topic":"","payload":"puzzleTimerSecondsRemaining","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":187.5,"y":344,"wires":[["aa8905ff.bd77a8"]]},{"id":"a66f88c.6429978","type":"ui_button","z":"99c79979.bfcad8","name":"","group":"5ad158a1.d39508","order":1,"width":"3","height":"3","passthru":false,"label":"START GAME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RESET","payloadType":"str","topic":"","x":141.33335876464844,"y":110.66666412353516,"wires":[["cdef4200.dbf4","61f65175.f7f1a"]]},{"id":"95df6302.822fb","type":"ui_button","z":"99c79979.bfcad8","name":"","group":"5ad158a1.d39508","order":4,"width":"6","height":"1","passthru":false,"label":"+5 MINUTES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":154.33335876464844,"y":176.66666412353516,"wires":[["ca70ac2f.45e9c"]]},{"id":"9b082b3a.0d7278","type":"ui_button","z":"99c79979.bfcad8","name":"PLAY/PAUSE GAME","group":"5ad158a1.d39508","order":5,"width":"6","height":"1","passthru":false,"label":"PAUSE GAME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":133.33335876464844,"y":232.66666412353516,"wires":[["d610fa84.0b1b08"]]},{"id":"aa8905ff.bd77a8","type":"function","z":"99c79979.bfcad8","name":"DECREMENT TIMER VARIABLE","func":"var puzzleTimerRunning = global.get('puzzleTimerRunning') || false;\n\nif (puzzleTimerRunning === true)\n{\n    var puzzleSecondsRemaining = msg.payload;\n    \n    if ( puzzleSecondsRemaining > 1 )\n    {\n        puzzleSecondsRemaining = puzzleSecondsRemaining - 1;\n        global.set('puzzleTimerSecondsRemaining', puzzleSecondsRemaining);\n    \n        msg.payload = puzzleSecondsRemaining;\n\n        return [msg, null];\n    }  \n    else\n    {\n        var msg = { payload: 0 };\n        var msg1 = { payload:\"TIMER EXPIRED\" };\n        \n        global.set('puzzleTimerRunning', false)\n\n        return [msg, msg1];\n    }\n}\n","outputs":2,"noerr":0,"x":514.5,"y":343,"wires":[["2c72b826.49bd78"],[]]},{"id":"cdef4200.dbf4","type":"function","z":"99c79979.bfcad8","name":"SET PUZZLE TIMER = 3600","func":"var puzzleTimer = 3601;\n\nglobal.set('puzzleTimerSecondsRemaining', puzzleTimer);\nglobal.set('puzzleTimerRunning', true)\n\nreturn msg;","outputs":1,"noerr":0,"x":454.33335876464844,"y":110.66666412353516,"wires":[["bdd667e4.85fb58","3f8ade08.ba3bc2","4860cf12.0378f","a4fe100d.284da","a4c6dec0.a43b7","40741198.baff5"]]},{"id":"b39af1e1.e9611","type":"mqtt in","z":"512d279b.4ca158","name":"CIPO/fuel/STATE","topic":"CIPO/fuel/STATE","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":127,"y":302,"wires":[["5b4bab04.4c1bf4"]]},{"id":"5b4bab04.4c1bf4","type":"switch","z":"512d279b.4ca158","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"AUTO","vt":"str"},{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SOLVED","vt":"str"},{"t":"eq","v":"LOST HEARTBEAT","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":373.5,"y":303,"wires":[["29220c37.ad52b4","3a56f605.e3749a","f125923d.c39f1"],["138ad4c4.b30abb","d1638922.09a588","f125923d.c39f1"],["865ff5ad.503f28","43be46f2.e94858","4cc0cd7.316c634","97cb80d2.5a584"],["23303f2a.94cd3"]]},{"id":"29220c37.ad52b4","type":"change","z":"512d279b.4ca158","name":"AUTO CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":638.5,"y":108,"wires":[["84824c0c.77ea9"]]},{"id":"138ad4c4.b30abb","type":"change","z":"512d279b.4ca158","name":"ACTIVE CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":647.5,"y":150,"wires":[["84824c0c.77ea9"]]},{"id":"43be46f2.e94858","type":"change","z":"512d279b.4ca158","name":"SOLVED CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":646.5,"y":198,"wires":[["84824c0c.77ea9"]]},{"id":"865ff5ad.503f28","type":"change","z":"512d279b.4ca158","name":"TEXT TO SOLVED","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOLVED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":651.5,"y":446,"wires":[["23303f2a.94cd3"]]},{"id":"23303f2a.94cd3","type":"ui_text","z":"512d279b.4ca158","group":"5943de0.d3ff024","order":7,"width":"4","height":"1","name":"","label":"STATE:","format":"{{msg.payload}}","layout":"row-left","x":892,"y":399,"wires":[]},{"id":"b33310f1.3bafd","type":"ui_button","z":"512d279b.4ca158","name":"BTN-SOLVE","group":"5943de0.d3ff024","order":5,"width":"4","height":"1","passthru":true,"label":"SOLVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"","x":178.21424865722656,"y":536.0000057220459,"wires":[["e125fab8.d901c8"]]},{"id":"e125fab8.d901c8","type":"mqtt out","z":"512d279b.4ca158","name":"COPI/fuel/COMMANDS","topic":"COPI/fuel/COMMANDS","qos":"1","retain":"","broker":"2314bf76.4267c","x":507.57140350341797,"y":536.285722732544,"wires":[]},{"id":"84824c0c.77ea9","type":"mqtt out","z":"512d279b.4ca158","name":"","topic":"COLI/fuel/ACTIVATE_CUE","qos":"1","retain":"","broker":"2314bf76.4267c","x":905,"y":150,"wires":[]},{"id":"d1638922.09a588","type":"change","z":"512d279b.4ca158","name":"TEXT TO ACTIVE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":652,"y":400,"wires":[["23303f2a.94cd3"]]},{"id":"3a56f605.e3749a","type":"change","z":"512d279b.4ca158","name":"TEXT TO AUTO","rules":[{"t":"set","p":"payload","pt":"msg","to":"AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":642,"y":353,"wires":[["23303f2a.94cd3"]]},{"id":"bdd667e4.85fb58","type":"link out","z":"99c79979.bfcad8","name":"RESET PUZZLE 1","links":["6fad1a38.bc9c84"],"x":711.3333587646484,"y":118.66666412353516,"wires":[]},{"id":"6fad1a38.bc9c84","type":"link in","z":"512d279b.4ca158","name":"FROM GAME RESET","links":["bdd667e4.85fb58"],"x":226.21426582336426,"y":489.00003147125244,"wires":[["e125fab8.d901c8"]]},{"id":"3904aa60.a3ec66","type":"comment","z":"512d279b.4ca158","name":"LIGHT CUES","info":"","x":636.5,"y":61,"wires":[]},{"id":"b80b33d3.ff8d7","type":"mqtt in","z":"be750b2a.827588","name":"CIPO/pressure/STATE","topic":"CIPO/pressure/STATE","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":105,"y":252,"wires":[["9d35765f.12b3f8"]]},{"id":"9d35765f.12b3f8","type":"switch","z":"be750b2a.827588","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"AUTO","vt":"str"},{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SOLVED","vt":"str"},{"t":"eq","v":"LOST HEARTBEAT","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":300.5,"y":252,"wires":[["7f0c4b.8237e3b4","b5f468b2.e3fbb8","42f966b6.25e8f8"],["c6e756b7.93dca8","53bfd215.3f891c","42f966b6.25e8f8"],["c069bfb0.abf49","deb8ca30.632e98","a7dfd1fe.36dce","7136bbe5.793f24"],["d7536793.2ce728"]]},{"id":"7f0c4b.8237e3b4","type":"change","z":"be750b2a.827588","name":"AUTO CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":551.5,"y":99,"wires":[["bf0734fa.811828"]]},{"id":"c6e756b7.93dca8","type":"change","z":"be750b2a.827588","name":"ACTIVE CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560.5,"y":141,"wires":[["bf0734fa.811828"]]},{"id":"deb8ca30.632e98","type":"change","z":"be750b2a.827588","name":"SOLVED CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":557.5,"y":191,"wires":[["bf0734fa.811828"]]},{"id":"c069bfb0.abf49","type":"change","z":"be750b2a.827588","name":"TEXT TO SOLVED","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOLVED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":567.5,"y":392,"wires":[["d7536793.2ce728"]]},{"id":"d7536793.2ce728","type":"ui_text","z":"be750b2a.827588","group":"94ccaae3.cad168","order":7,"width":"4","height":"1","name":"","label":"STATE:","format":"{{msg.payload}}","layout":"row-left","x":827,"y":345,"wires":[]},{"id":"24d63421.e6765c","type":"ui_button","z":"be750b2a.827588","name":"BTN-SOLVE","group":"94ccaae3.cad168","order":5,"width":"4","height":"1","passthru":true,"label":"SOLVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"","x":114.5,"y":462.99999618530273,"wires":[["e6f16e42.68bb6"]]},{"id":"e6f16e42.68bb6","type":"mqtt out","z":"be750b2a.827588","name":"COPI/pressure/COMMANDS","topic":"COPI/pressure/COMMANDS","qos":"1","retain":"","broker":"2314bf76.4267c","x":449.57142639160156,"y":510.85713386535645,"wires":[]},{"id":"bf0734fa.811828","type":"mqtt out","z":"be750b2a.827588","name":"","topic":"COLI/pressure/ACTIVATE_CUE","qos":"1","retain":"","broker":"2314bf76.4267c","x":828,"y":141,"wires":[]},{"id":"53bfd215.3f891c","type":"change","z":"be750b2a.827588","name":"TEXT TO ACTIVE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":568,"y":346,"wires":[["d7536793.2ce728"]]},{"id":"b5f468b2.e3fbb8","type":"change","z":"be750b2a.827588","name":"TEXT TO AUTO","rules":[{"t":"set","p":"payload","pt":"msg","to":"AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":558,"y":299,"wires":[["d7536793.2ce728"]]},{"id":"5e00f371.3874bc","type":"link in","z":"be750b2a.827588","name":"FROM GAME RESET","links":["3f8ade08.ba3bc2"],"x":212.49999332427979,"y":514.5714635848999,"wires":[["e6f16e42.68bb6"]]},{"id":"51603975.d84e78","type":"comment","z":"be750b2a.827588","name":"LIGHT CUES","info":"","x":549.5,"y":52,"wires":[]},{"id":"3f8ade08.ba3bc2","type":"link out","z":"99c79979.bfcad8","name":"RESET PUZZLE 2","links":["5e00f371.3874bc"],"x":747.3333587646484,"y":142.66666412353516,"wires":[]},{"id":"4860cf12.0378f","type":"link out","z":"99c79979.bfcad8","name":"RESET PUZZLE 3","links":["3aa5f357.602d0c"],"x":781.3333587646484,"y":169.66666412353516,"wires":[]},{"id":"d746f313.d3223","type":"link out","z":"512d279b.4ca158","name":"SOLVED OUT","links":["ac5d6d8f.d8bde"],"x":1086.214280128479,"y":317.0000524520874,"wires":[]},{"id":"af16e110.ed8ce","type":"link out","z":"be750b2a.827588","name":"SOLVED OUT","links":["702b8868.6aaf48"],"x":1094.6191139221191,"y":246.80951690673828,"wires":[]},{"id":"7e76d1fd.ab088","type":"mqtt in","z":"99c79979.bfcad8","name":"PING/power","topic":"CIPO/PING/power","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":90,"y":771,"wires":[["fb8f4ec7.bd437"]]},{"id":"fb8f4ec7.bd437","type":"mqtt out","z":"99c79979.bfcad8","name":"PONG/power","topic":"COPI/power/PONG","qos":"1","retain":"","broker":"2314bf76.4267c","x":361.5,"y":771,"wires":[]},{"id":"81851e11.e2667","type":"mqtt in","z":"99c79979.bfcad8","name":"PING/pressure","topic":"CIPO/PING/pressure","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":99,"y":714,"wires":[["af27d46e.d1a018"]]},{"id":"af27d46e.d1a018","type":"mqtt out","z":"99c79979.bfcad8","name":"PONG/pressure","topic":"COPI/pressure/PONG","qos":"1","retain":"","broker":"2314bf76.4267c","x":372.5,"y":713,"wires":[]},{"id":"38b32bf7.200c44","type":"mqtt in","z":"99c79979.bfcad8","name":"PING/fuel","topic":"CIPO/PING/fuel","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":75,"y":656,"wires":[["82e4f9fe.435288"]]},{"id":"82e4f9fe.435288","type":"mqtt out","z":"99c79979.bfcad8","name":"PONG/fuel","topic":"COPI/fuel/PONG","qos":"1","retain":"","broker":"2314bf76.4267c","x":361.5,"y":658,"wires":[]},{"id":"c54f5634.dd8d28","type":"comment","z":"99c79979.bfcad8","name":"PUZZLE PING/PONG HANDLERS","info":"","x":154.5,"y":612,"wires":[]},{"id":"4cc0cd7.316c634","type":"function","z":"512d279b.4ca158","name":"GLOBAL/fuel_solved=TRUE","func":"\nglobal.set('fuel_solved', 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":917.2142944335938,"y":317.4285697937012,"wires":[["d746f313.d3223"]]},{"id":"f125923d.c39f1","type":"function","z":"512d279b.4ca158","name":"GLOBAL/fuel_solved=FALSE","func":"\nglobal.set('fuel_solved', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":916.7142715454102,"y":275.714298248291,"wires":[[]]},{"id":"f1c3b857.0f2268","type":"function","z":"99c79979.bfcad8","name":"COMPUTER PERCENTAGE OF PUZZLES SOLVED","func":"var totalNumberOfPuzzles = 6;\n\nvar fuelSolved = global.get('fuel_solved') || 0;\nvar pressureSolved = global.get('pressure_solved') || 0;\nvar powerSolved = global.get('power_solved') || 0;\nvar patchSolved = global.get('patch_solved') || 0;\nvar keysSolved = global.get('keys_solved') || 0;\nvar reactorSolved = global.get('reactor_solved') || 0;\n\nvar numberOfSolvedPuzzles = fuelSolved + pressureSolved + powerSolved + patchSolved + keysSolved + reactorSolved;\nvar percentageOfSolvedPuzzles =  Math.floor( (numberOfSolvedPuzzles / totalNumberOfPuzzles) * 100 );\n\nmsg.ui_control = {min:0, max:100}\nmsg.payload = percentageOfSolvedPuzzles;\n\nreturn msg;","outputs":1,"noerr":0,"x":357.5,"y":519,"wires":[["a071235b.2a7ac"]]},{"id":"21b45c4b.0f6a54","type":"inject","z":"99c79979.bfcad8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":88.5,"y":518,"wires":[["f1c3b857.0f2268"]]},{"id":"42f966b6.25e8f8","type":"function","z":"be750b2a.827588","name":"GLOBAL/pressure_solved=FALSE","func":"\nglobal.set('pressure_solved', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":212,"wires":[[]]},{"id":"a7dfd1fe.36dce","type":"function","z":"be750b2a.827588","name":"GLOBAL/pressure_solved=TRUE","func":"\nglobal.set('pressure_solved', 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":890.5,"y":248,"wires":[["af16e110.ed8ce"]]},{"id":"a071235b.2a7ac","type":"ui_gauge","z":"99c79979.bfcad8","name":"PERCENTAGE COMPLETE","group":"5ad158a1.d39508","order":2,"width":"3","height":"3","gtype":"donut","title":"COMPLETED","label":"%","format":"{{msg.payload}}","min":0,"max":10,"colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":708.8333358764648,"y":517.6666679382324,"wires":[]},{"id":"ca70ac2f.45e9c","type":"function","z":"99c79979.bfcad8","name":"+300 seconds","func":"var puzzleTimerSecondsRemaining = global.get('puzzleTimerSecondsRemaining')\n\npuzzleTimerSecondsRemaining = puzzleTimerSecondsRemaining + 300;\n\nglobal.set('puzzleTimerSecondsRemaining', puzzleTimerSecondsRemaining);\n\nmsg.payload = puzzleTimerSecondsRemaining;\n\nreturn msg;","outputs":1,"noerr":0,"x":416.33335876464844,"y":175.66666412353516,"wires":[[]]},{"id":"d610fa84.0b1b08","type":"function","z":"99c79979.bfcad8","name":"PLAY/PAUSE function","func":"var puzzleTimerRunning = global.get('puzzleTimerRunning') || false;\n\nif (puzzleTimerRunning === true)\n{\n    // FIXME - add UI control stuff\n\n global.set('puzzleTimerRunning', false);\n\n    msg.\n    msg.ui_control = {\"label\" : \"boing\"};\n\n}\nelse\n{\n    // FIXME - add UI control stuff\n global.set('puzzleTimerRunning', true);\n    \n}\n \nreturn msg;","outputs":1,"noerr":0,"x":382.33335876464844,"y":233.66666412353516,"wires":[[]]},{"id":"a32dd4fc.2aea08","type":"mqtt in","z":"61f84baa.8c8894","name":"","topic":"CIPO/reactor/STATE","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":102,"y":276,"wires":[["cd4ec7ee.6e8398","629bf4a6.f0524c"]]},{"id":"cd4ec7ee.6e8398","type":"switch","z":"61f84baa.8c8894","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"AUTO","vt":"str"},{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SOLVED","vt":"str"},{"t":"eq","v":"FAILED","vt":"str"},{"t":"eq","v":"REBOOTING","vt":"str"},{"t":"eq","v":"DISCONNECTED","vt":"str"},{"t":"eq","v":"UNKNOWN","vt":"str"},{"t":"eq","v":"LOST HEARTBEAT","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":317.5,"y":276,"wires":[["9dbf5be8.1b4088","539c1708.32f4a8","47836c81.36cea4"],["60541c61.eafc44","9b6ea9c9.91b468","47836c81.36cea4","525a618f.2b7c9"],["b78b8d4.9ecb77","2f9b7ff.222368","1aca420f.13642e","99990d50.14e2f","8c8f220b.dc66f"],["4f69b76e.57a808","d4536f50.a5adc","6c9dfadf.bf66d4","8c8f220b.dc66f"],["28bb713d.87940e"],[],["b0ce84cb.d430f8"],["ce35cb8f.9b4af8","c3b96175.8afc2"]]},{"id":"9dbf5be8.1b4088","type":"change","z":"61f84baa.8c8894","name":"AUTO CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":558.5,"y":123,"wires":[["4b319ea2.8f77c"]]},{"id":"60541c61.eafc44","type":"change","z":"61f84baa.8c8894","name":"ACTIVE CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":567.5,"y":165,"wires":[["4b319ea2.8f77c"]]},{"id":"2f9b7ff.222368","type":"change","z":"61f84baa.8c8894","name":"SOLVED CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":564.5,"y":215,"wires":[["4b319ea2.8f77c"]]},{"id":"b78b8d4.9ecb77","type":"change","z":"61f84baa.8c8894","name":"TEXT TO SOLVED","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOLVED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":574.5,"y":416,"wires":[["ce35cb8f.9b4af8","c3b96175.8afc2"]]},{"id":"ce35cb8f.9b4af8","type":"ui_text","z":"61f84baa.8c8894","group":"55f9d81b.fb91b8","order":7,"width":"4","height":"1","name":"","label":"STATE:","format":"{{msg.payload}}","layout":"row-left","x":1153.5713920593262,"y":347.0000114440918,"wires":[]},{"id":"9c97f8b4.193af8","type":"ui_button","z":"61f84baa.8c8894","name":"BTN-ACTIVATE","group":"55f9d81b.fb91b8","order":5,"width":"4","height":"1","passthru":true,"label":"ACTIVATE","tooltip":"","color":"","bgcolor":"00ff00","icon":"","payload":"ACTIVATE","payloadType":"str","topic":"","x":152.42857360839844,"y":504.00002670288086,"wires":[["34c9990f.620376"]]},{"id":"2f155efc.3f7402","type":"ui_button","z":"61f84baa.8c8894","name":"BTN-SOLVE","group":"55f9d81b.fb91b8","order":5,"width":"4","height":"1","passthru":true,"label":"SOLVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"","x":161.5,"y":547,"wires":[["34c9990f.620376"]]},{"id":"34c9990f.620376","type":"mqtt out","z":"61f84baa.8c8894","name":"","topic":"COPI/reactor/COMMANDS","qos":"1","retain":"","broker":"2314bf76.4267c","x":501.14283752441406,"y":549.1428833007812,"wires":[]},{"id":"4b319ea2.8f77c","type":"mqtt out","z":"61f84baa.8c8894","name":"","topic":"COLI/reactor/ACTIVATE_CUE","qos":"1","retain":"","broker":"2314bf76.4267c","x":835,"y":165,"wires":[]},{"id":"9b6ea9c9.91b468","type":"change","z":"61f84baa.8c8894","name":"TEXT TO ACTIVE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":370,"wires":[["ce35cb8f.9b4af8","c3b96175.8afc2"]]},{"id":"539c1708.32f4a8","type":"change","z":"61f84baa.8c8894","name":"TEXT TO AUTO","rules":[{"t":"set","p":"payload","pt":"msg","to":"AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":323,"wires":[["ce35cb8f.9b4af8","c3b96175.8afc2"]]},{"id":"7a7ca965.a26ad8","type":"link in","z":"61f84baa.8c8894","name":"FROM GAME RESET","links":["a4c6dec0.a43b7"],"x":256.6428813934326,"y":587.1428298950195,"wires":[["34c9990f.620376"]]},{"id":"a3862715.299508","type":"comment","z":"61f84baa.8c8894","name":"LIGHT CUES","info":"","x":556.5,"y":76,"wires":[]},{"id":"5de27108.d344e","type":"link in","z":"61f84baa.8c8894","name":"ACTIVATE PUZZLE","links":["ec868fbb.5cfd9"],"x":225.57143831253052,"y":449.57140350341797,"wires":[["5a5e3749.19dea8"]]},{"id":"5a5e3749.19dea8","type":"change","z":"61f84baa.8c8894","name":"ACTIVATE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVATE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":336.2857131958008,"y":447.9999885559082,"wires":[["34c9990f.620376"]]},{"id":"47836c81.36cea4","type":"function","z":"61f84baa.8c8894","name":"GLOBAL/reactor_solved=FALSE","func":"\nglobal.set('reactor_solved', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":829,"y":254,"wires":[[]]},{"id":"1aca420f.13642e","type":"function","z":"61f84baa.8c8894","name":"GLOBAL/reactor_solved=TRUE","func":"\nglobal.set('reactor_solved', 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":819.5,"y":290,"wires":[["877d29a2.503cb8"]]},{"id":"4f69b76e.57a808","type":"change","z":"61f84baa.8c8894","name":"TEXT TO FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":576,"y":468,"wires":[["ce35cb8f.9b4af8","c3b96175.8afc2"]]},{"id":"2c72b826.49bd78","type":"function","z":"99c79979.bfcad8","name":"format seconds as HH:MM:SS","func":"var seconds = msg.payload;\n\nvar date = new Date(null);\ndate.setSeconds(seconds);\nmsg.payload = date.toISOString().substr(11, 8);\n\nreturn msg;","outputs":1,"noerr":0,"x":816.5,"y":341,"wires":[["14eb5227.670f9e"]]},{"id":"4617e835.2070c8","type":"comment","z":"99c79979.bfcad8","name":"RESET All Puzzles","info":"","x":748.3333587646484,"y":83.66666412353516,"wires":[]},{"id":"12bb9fd8.149ba","type":"ui_button","z":"512d279b.4ca158","name":"BTN-REBOOT","group":"","order":1,"width":"3","height":"1","passthru":true,"label":"PUZZLE 1","tooltip":"","color":"","bgcolor":"00ff00","icon":"","payload":"REBOOT","payloadType":"str","topic":"","x":168.5714111328125,"y":579.9999961853027,"wires":[["e125fab8.d901c8"]]},{"id":"95e2b0ad.7d01a","type":"ui_button","z":"be750b2a.827588","name":"BTN-REBOOT","group":"","order":3,"width":"3","height":"1","passthru":true,"label":"PUZZLE 2","tooltip":"","color":"","bgcolor":"00ff00","icon":"","payload":"REBOOT","payloadType":"str","topic":"","x":108.28571319580078,"y":569.0000152587891,"wires":[["e6f16e42.68bb6"]]},{"id":"ee91f49c.ccfa58","type":"ui_button","z":"61f84baa.8c8894","name":"BTN-REBOOT","group":"","order":9,"width":"3","height":"1","passthru":true,"label":"DIAMOND SAFE","tooltip":"","color":"","bgcolor":"00ff00","icon":"","payload":"REBOOT","payloadType":"str","topic":"","x":158.85713958740234,"y":636.2856941223145,"wires":[["34c9990f.620376"]]},{"id":"28bb713d.87940e","type":"change","z":"61f84baa.8c8894","name":"TEXT TO REBOOTING","rules":[{"t":"set","p":"payload","pt":"msg","to":"REBOOTING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":457,"wires":[["ce35cb8f.9b4af8","c3b96175.8afc2"]]},{"id":"629bf4a6.f0524c","type":"debug","z":"61f84baa.8c8894","name":"CIPO/STATE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":254.5,"y":100,"wires":[]},{"id":"c3b96175.8afc2","type":"ui_text","z":"61f84baa.8c8894","group":"","order":10,"width":"3","height":"1","name":"ADVANCED: Current State","label":"STATE:","format":"{{msg.payload}}","layout":"col-center","x":1124.5,"y":397,"wires":[]},{"id":"b0ce84cb.d430f8","type":"change","z":"61f84baa.8c8894","name":"TEXT TO UNKNOWN","rules":[{"t":"set","p":"payload","pt":"msg","to":"UNKNOWN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":851,"y":499,"wires":[["c3b96175.8afc2","ce35cb8f.9b4af8"]]},{"id":"cdbeee7f.d5856","type":"mqtt in","z":"62fad8ec.96f7a8","name":"CIPO/power/STATE","topic":"CIPO/power/STATE","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":199,"y":315,"wires":[["d82a24e1.425028"]]},{"id":"d82a24e1.425028","type":"switch","z":"62fad8ec.96f7a8","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"AUTO","vt":"str"},{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SOLVED","vt":"str"},{"t":"eq","v":"LOST HEARTBEAT","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":404.5,"y":315,"wires":[["b14d434a.01b91","c9d9434f.a2363","230483f6.37791c"],["2c5dc88b.48d9a8","5831915f.dbb6","230483f6.37791c"],["3d28d9f4.4b66d6","e8b134eb.5b3218","5b7e9562.59c84c","455b919e.839ff"],["f5c01c40.bd771"]]},{"id":"b14d434a.01b91","type":"change","z":"62fad8ec.96f7a8","name":"AUTO CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":655.5,"y":162,"wires":[["365ee28c.a8172e"]]},{"id":"2c5dc88b.48d9a8","type":"change","z":"62fad8ec.96f7a8","name":"ACTIVE CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":664.5,"y":204,"wires":[["365ee28c.a8172e"]]},{"id":"e8b134eb.5b3218","type":"change","z":"62fad8ec.96f7a8","name":"SOLVED CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":661.5,"y":254,"wires":[["365ee28c.a8172e"]]},{"id":"3d28d9f4.4b66d6","type":"change","z":"62fad8ec.96f7a8","name":"TEXT TO SOLVED","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOLVED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":671.5,"y":455,"wires":[["f5c01c40.bd771"]]},{"id":"f5c01c40.bd771","type":"ui_text","z":"62fad8ec.96f7a8","group":"4a716f9d.87e68","order":7,"width":"4","height":"1","name":"","label":"STATE:","format":"{{msg.payload}}","layout":"row-left","x":891,"y":404,"wires":[]},{"id":"b2471baf.7c2408","type":"ui_button","z":"62fad8ec.96f7a8","name":"BTN-SOLVE","group":"4a716f9d.87e68","order":5,"width":"4","height":"1","passthru":true,"label":"SOLVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"","x":201.3571434020996,"y":494.57143211364746,"wires":[["c1f6fbc7.81ecb8"]]},{"id":"c1f6fbc7.81ecb8","type":"mqtt out","z":"62fad8ec.96f7a8","name":"","topic":"COPI/power/COMMANDS","qos":"1","retain":"","broker":"2314bf76.4267c","x":542.1428985595703,"y":549.5714015960693,"wires":[]},{"id":"365ee28c.a8172e","type":"mqtt out","z":"62fad8ec.96f7a8","name":"","topic":"COLI/power/ACTIVATE_CUE","qos":"1","retain":"","broker":"2314bf76.4267c","x":922,"y":204,"wires":[]},{"id":"5831915f.dbb6","type":"change","z":"62fad8ec.96f7a8","name":"TEXT TO ACTIVE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":672,"y":409,"wires":[["f5c01c40.bd771"]]},{"id":"c9d9434f.a2363","type":"change","z":"62fad8ec.96f7a8","name":"TEXT TO AUTO","rules":[{"t":"set","p":"payload","pt":"msg","to":"AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":662,"y":362,"wires":[["f5c01c40.bd771"]]},{"id":"3aa5f357.602d0c","type":"link in","z":"62fad8ec.96f7a8","name":"FROM GAME RESET","links":["4860cf12.0378f"],"x":293.64286041259766,"y":550.4285430908203,"wires":[["c1f6fbc7.81ecb8"]]},{"id":"288eb3b8.bc657c","type":"comment","z":"62fad8ec.96f7a8","name":"LIGHT CUES","info":"","x":653.5,"y":115,"wires":[]},{"id":"c617f3a8.b35cb","type":"link out","z":"62fad8ec.96f7a8","name":"SOLVED OUT","links":["c699384f.513648"],"x":1170.0476541519165,"y":312.42856884002686,"wires":[]},{"id":"230483f6.37791c","type":"function","z":"62fad8ec.96f7a8","name":"GLOBAL/power_solved=FALSE","func":"\nglobal.set('power_solved', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":984,"y":275,"wires":[[]]},{"id":"5b7e9562.59c84c","type":"function","z":"62fad8ec.96f7a8","name":"GLOBAL/power_solved=TRUE","func":"\nglobal.set('power_solved', 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":984.5,"y":311,"wires":[["c617f3a8.b35cb"]]},{"id":"44174a79.96aa34","type":"ui_button","z":"62fad8ec.96f7a8","name":"BTN-REBOOT","group":"","order":5,"width":"3","height":"1","passthru":true,"label":"JACKS","tooltip":"","color":"","bgcolor":"00ff00","icon":"","payload":"REBOOT","payloadType":"str","topic":"","x":192.28570938110352,"y":610.5714702606201,"wires":[["c1f6fbc7.81ecb8"]]},{"id":"98887877.35f618","type":"mqtt in","z":"5f25f351.1372ac","name":"","topic":"CIPO/patch/STATE","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":181,"y":369,"wires":[["2d5a3324.ebe34c"]]},{"id":"2d5a3324.ebe34c","type":"switch","z":"5f25f351.1372ac","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"AUTO","vt":"str"},{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SOLVED","vt":"str"},{"t":"eq","v":"LOST HEARTBEAT","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":386.5,"y":369,"wires":[["88f0da7a.bca6b8","a998c950.87c318","39f4c531.2b1afa"],["75de9fa1.72697","c59bd304.234b","39f4c531.2b1afa"],["41ea26c4.c08d78","56359356.e11a6c","ce811a6e.3a50a8"],["1553f206.0344de"]]},{"id":"88f0da7a.bca6b8","type":"change","z":"5f25f351.1372ac","name":"AUTO CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":637.5,"y":216,"wires":[["c41bb757.46ff68"]]},{"id":"75de9fa1.72697","type":"change","z":"5f25f351.1372ac","name":"ACTIVE CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":646.5,"y":258,"wires":[["c41bb757.46ff68"]]},{"id":"56359356.e11a6c","type":"change","z":"5f25f351.1372ac","name":"SOLVED CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":643.5,"y":308,"wires":[["c41bb757.46ff68"]]},{"id":"41ea26c4.c08d78","type":"change","z":"5f25f351.1372ac","name":"TEXT TO SOLVED","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOLVED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":653.5,"y":509,"wires":[["1553f206.0344de"]]},{"id":"1553f206.0344de","type":"ui_text","z":"5f25f351.1372ac","group":"32dabca5.537cb4","order":7,"width":"4","height":"1","name":"","label":"STATE:","format":"{{msg.payload}}","layout":"row-left","x":852,"y":463,"wires":[]},{"id":"efea3812.23e5e8","type":"ui_button","z":"5f25f351.1372ac","name":"BTN-SOLVE","group":"32dabca5.537cb4","order":5,"width":"4","height":"1","passthru":true,"label":"SOLVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"","x":179.07143020629883,"y":582.8571224212646,"wires":[["80743538.dc30a8"]]},{"id":"80743538.dc30a8","type":"mqtt out","z":"5f25f351.1372ac","name":"","topic":"COPI/patch/COMMANDS","qos":"1","retain":"","broker":"2314bf76.4267c","x":494.14283752441406,"y":624.9999980926514,"wires":[]},{"id":"c41bb757.46ff68","type":"mqtt out","z":"5f25f351.1372ac","name":"","topic":"COLI/patch/ACTIVATE_CUE","qos":"1","retain":"","broker":"2314bf76.4267c","x":904,"y":258,"wires":[]},{"id":"c59bd304.234b","type":"change","z":"5f25f351.1372ac","name":"TEXT TO ACTIVE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":654,"y":463,"wires":[["1553f206.0344de"]]},{"id":"a998c950.87c318","type":"change","z":"5f25f351.1372ac","name":"TEXT TO AUTO","rules":[{"t":"set","p":"payload","pt":"msg","to":"AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":416,"wires":[["1553f206.0344de"]]},{"id":"8fd575c8.1cddf8","type":"link in","z":"5f25f351.1372ac","name":"FROM GAME RESET","links":["a4fe100d.284da"],"x":252.78571128845215,"y":628.7143077850342,"wires":[["80743538.dc30a8"]]},{"id":"c186d1cf.d575e","type":"comment","z":"5f25f351.1372ac","name":"LIGHT CUES","info":"","x":635.5,"y":169,"wires":[]},{"id":"187ffaad.407375","type":"link out","z":"5f25f351.1372ac","name":"SOLVED OUT","links":["c4fed6e4.d37c68"],"x":1148.476284980774,"y":366.00003147125244,"wires":[]},{"id":"39f4c531.2b1afa","type":"function","z":"5f25f351.1372ac","name":"GLOBAL/patch_solved=FALSE","func":"\nglobal.set('patch_solved', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":966,"y":329,"wires":[[]]},{"id":"ce811a6e.3a50a8","type":"function","z":"5f25f351.1372ac","name":"GLOBAL/patch_solved=TRUE","func":"\nglobal.set('patch_solved', 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":966.5,"y":365,"wires":[["187ffaad.407375","5623b509.fc338c"]]},{"id":"5952dd5c.f5a034","type":"ui_button","z":"5f25f351.1372ac","name":"BTN-REBOOT","group":"","order":7,"width":"3","height":"1","passthru":true,"label":"EINSTEIN","tooltip":"","color":"","bgcolor":"00ff00","icon":"","payload":"REBOOT","payloadType":"str","topic":"","x":175.71429443359375,"y":678.857138633728,"wires":[["80743538.dc30a8"]]},{"id":"d85d79c0.48ebf8","type":"comment","z":"99c79979.bfcad8","name":"Show the total percentage of puzzles solved","info":"","x":175.5,"y":475,"wires":[]},{"id":"bf7d5d74.bde2d","type":"comment","z":"99c79979.bfcad8","name":"Countdown timer for game","info":"","x":126.5,"y":297.3333320617676,"wires":[]},{"id":"99990d50.14e2f","type":"exec","z":"61f84baa.8c8894","command":"omxplayer -o local /home/pi/Downloads/ms/meltdown_success.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY \"MELTDOWN AVERTED\"","x":1255.1428680419922,"y":95.85714721679688,"wires":[[],[],[]]},{"id":"6a8bf8a.472e508","type":"trigger","z":"99c79979.bfcad8","op1":"","op2":"LOST HEARTBEAT","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"POWER HEARTBEAT TIMER","x":655.1666831970215,"y":1180.000087738037,"wires":[["197a1c3c.2b38a4"]]},{"id":"197a1c3c.2b38a4","type":"link out","z":"99c79979.bfcad8","name":"LOST HEARTBEAT - PUZZLE 3","links":["ca515121.112e7"],"x":855.8809757232666,"y":1180.428689956665,"wires":[]},{"id":"2e9b9a8b.6dd356","type":"link in","z":"61f84baa.8c8894","name":"LOST HEARTBEAT","links":["bbc5ff55.5b0f1","6255a65a.b7df08"],"x":206.7857322692871,"y":332.99998474121094,"wires":[["cd4ec7ee.6e8398"]]},{"id":"2203fc61.8e9564","type":"template","z":"99c79979.bfcad8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table cellspacing=6 border=1>\n    <tr>\n        <th nowrap>Puzzle ID</th>\n        <th nowrap>Role</th>\n        <th nowrap>IP Address</th>\n        <th nowrap>MAC Address</th>\n        <th nowrap>Platform</th>\n        <th nowrap>Uptime</th>\n        <th nowrap>Last Check-In</th>\n        <th nowrap>Temperature</th>\n        <th nowrap>Current State</th>\n    </tr>\n    \n    {{#payload}}\n    <tr>\n        <td nowrap>{{puzzleID}}</td>\n        <td nowrap>{{role}}</td>\n        <td nowrap>{{ipAddress}}</td>\n        <td nowrap>{{MACaddress}}</td>\n        <td nowrap>{{platform}}</td>\n        <td align=\"right\" nowrap>{{uptime}}</td>\n        <td nowrap>{{lastCheckin}}</td>\n        <td nowrap>{{temperature}}</td>\n        <td nowrap>{{currentStatus}}</td>\n    </tr>\n    {{/payload}}\n</table>","output":"str","x":938.8333129882812,"y":1025.3333110809326,"wires":[["4a657c5b.0d4264"]]},{"id":"4a657c5b.0d4264","type":"ui_template","z":"99c79979.bfcad8","group":"b486328a.4aa6","name":"","order":0,"width":"12","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1073.8333129882812,"y":1023.3333110809326,"wires":[[]]},{"id":"aa38d7fb.4aa588","type":"link in","z":"512d279b.4ca158","name":"LOST HEARTBEAT","links":["87fcfcd3.bd467","e186dfa2.24073","1ec68e02.1eee82"],"x":230.49999618530273,"y":373.85712242126465,"wires":[["5b4bab04.4c1bf4"]]},{"id":"77c65e5b.b35f9","type":"trigger","z":"99c79979.bfcad8","op1":"","op2":"LOST HEARTBEAT","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"PRESSURE HEARTBEAT TIMER","x":662.6666831970215,"y":1128.000087738037,"wires":[["620ab9b1.2f4148"]]},{"id":"620ab9b1.2f4148","type":"link out","z":"99c79979.bfcad8","name":"LOST HEARTBEAT - PUZZLE 2","links":["652aac45.0a1a94"],"x":854.8809585571289,"y":1128.0000858306885,"wires":[]},{"id":"652aac45.0a1a94","type":"link in","z":"be750b2a.827588","name":"LOST HEARTBEAT","links":["620ab9b1.2f4148","8413eb33.0b8868"],"x":221.07142639160156,"y":318.2857036590576,"wires":[["9d35765f.12b3f8"]]},{"id":"ff9fee16.54188","type":"mqtt in","z":"99c79979.bfcad8","name":"PING/patch","topic":"CIPO/PING/patch","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":562.8571395874023,"y":658.4285907745361,"wires":[["f6a10e.d00e2ef"]]},{"id":"f6a10e.d00e2ef","type":"mqtt out","z":"99c79979.bfcad8","name":"PONG/patch","topic":"COPI/patch/PONG","qos":"1","retain":"","broker":"2314bf76.4267c","x":829.3571395874023,"y":657.4285907745361,"wires":[]},{"id":"57f6a047.71dd7","type":"trigger","z":"99c79979.bfcad8","op1":"","op2":"LOST HEARTBEAT","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"PATCH HEARTBEAT TIMER","x":647.1666831970215,"y":1233.000087738037,"wires":[["3a0fdc34.016994"]]},{"id":"3a0fdc34.016994","type":"link out","z":"99c79979.bfcad8","name":"LOST HEARTBEAT - PUZZLE 4","links":["2180904d.6beca"],"x":857.7381362915039,"y":1234.0001525878906,"wires":[]},{"id":"fed5878a.65c938","type":"mqtt in","z":"99c79979.bfcad8","name":"PING/keys","topic":"CIPO/PING/keys","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":552.8571395874023,"y":712.4285907745361,"wires":[["b5e0e067.3426"]]},{"id":"b5e0e067.3426","type":"mqtt out","z":"99c79979.bfcad8","name":"PONG/keys","topic":"COPI/keys/PONG","qos":"1","retain":"","broker":"2314bf76.4267c","x":829.3571395874023,"y":711.4285907745361,"wires":[]},{"id":"5ddf65d6.b2552c","type":"trigger","z":"99c79979.bfcad8","op1":"","op2":"LOST HEARTBEAT","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"KEYS HEARTBEAT TIMER","x":647.1666831970215,"y":1289.000087738037,"wires":[["f5caf756.4f27e8"]]},{"id":"f5caf756.4f27e8","type":"link out","z":"99c79979.bfcad8","name":"LOST HEARTBEAT - PUZZLE 5","links":["c6a6f2f4.836fe"],"x":853.4523868560791,"y":1289.0000829696655,"wires":[]},{"id":"2180904d.6beca","type":"link in","z":"5f25f351.1372ac","name":"LOST HEARTBEAT","links":["3a0fdc34.016994","2c059e22.6a4932"],"x":248.78571796417236,"y":440.28572845458984,"wires":[["2d5a3324.ebe34c"]]},{"id":"a4fe100d.284da","type":"link out","z":"99c79979.bfcad8","name":"RESET PUZZLE 4","links":["8fd575c8.1cddf8"],"x":817.8333587646484,"y":193.66666412353516,"wires":[]},{"id":"a4c6dec0.a43b7","type":"link out","z":"99c79979.bfcad8","name":"RESET PUZZLE 6","links":["788aeb73.8ab5d4","7a7ca965.a26ad8"],"x":888.5476207733154,"y":249.95238494873047,"wires":[]},{"id":"97cb80d2.5a584","type":"exec","z":"512d279b.4ca158","command":"omxplayer -o local /home/pi/Downloads/ms/fuel_success.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY CLOCK","x":961.428596496582,"y":214.8571434020996,"wires":[[],[],[]]},{"id":"455b919e.839ff","type":"exec","z":"62fad8ec.96f7a8","command":"omxplayer -o local /home/pi/Downloads/ms/power_success.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY \"POWER REBALANCED\"","x":997.1428680419922,"y":566.7142744064331,"wires":[[],[],[]]},{"id":"ca515121.112e7","type":"link in","z":"62fad8ec.96f7a8","name":"LOST HEARTBEAT","links":["197a1c3c.2b38a4","3827ceca.b31b02"],"x":296.50001335144043,"y":377.2857074737549,"wires":[["d82a24e1.425028"]]},{"id":"48a4ce52.17742","type":"ui_button","z":"d5a93789.4a5258","name":"","group":"46fec4aa.b4c85c","order":0,"width":0,"height":0,"passthru":false,"label":"RED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":236.5,"y":286,"wires":[["25eec1b4.98774e"]]},{"id":"25eec1b4.98774e","type":"mqtt out","z":"d5a93789.4a5258","name":"","topic":"","qos":"","retain":"","broker":"2314bf76.4267c","x":494.5,"y":414,"wires":[]},{"id":"1e6b0c08.b2fcf4","type":"ui_button","z":"d5a93789.4a5258","name":"","group":"46fec4aa.b4c85c","order":0,"width":0,"height":0,"passthru":false,"label":"GREEN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":247,"y":347,"wires":[["25eec1b4.98774e"]]},{"id":"b8fd2391.2ab7f","type":"ui_button","z":"d5a93789.4a5258","name":"","group":"46fec4aa.b4c85c","order":0,"width":0,"height":0,"passthru":false,"label":"BLUE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":235,"y":423,"wires":[["25eec1b4.98774e"]]},{"id":"e4960a84.1c56d8","type":"ui_button","z":"d5a93789.4a5258","name":"","group":"46fec4aa.b4c85c","order":0,"width":0,"height":0,"passthru":false,"label":"PURPLE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":243,"y":488,"wires":[["25eec1b4.98774e"]]},{"id":"caa2ca2.75ad438","type":"ui_button","z":"d5a93789.4a5258","name":"","group":"46fec4aa.b4c85c","order":0,"width":0,"height":0,"passthru":false,"label":"YELLOW","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":249,"y":557,"wires":[["25eec1b4.98774e"]]},{"id":"da6529fb.718b58","type":"mqtt in","z":"99c79979.bfcad8","name":"CIPO/PING/#","topic":"CIPO/PING/#","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":97,"y":974.6667013168335,"wires":[["862bcff.afe1b3"]]},{"id":"862bcff.afe1b3","type":"json","z":"99c79979.bfcad8","name":"","property":"payload","action":"","pretty":false,"x":237.5,"y":974.6667013168335,"wires":[["32627c0d.917694"]]},{"id":"32627c0d.917694","type":"function","z":"99c79979.bfcad8","name":"Collect/Process/Store Incoming Heartbeats","func":"var incomingHeartbeat = msg.payload;\n\n/////////////////////////////\n// CONVERT UPTIME FROM SECONDS TO HHh MMm SSs\nvar uptimeSeconds = incomingHeartbeat.uptime;\n\nvar date = new Date(null);\ndate.setSeconds(uptimeSeconds);\n// FIXME - this should support days as well\n\n// If we're over 3600 seconds than that we means want to show the \"hour\" portion as well.\nif ( uptimeSeconds > 3600 )\n{\n    incomingHeartbeat.uptime = date.toISOString().substr(11, 2) + \"h \" + date.toISOString().substr(14, 2) + \"m \" + date.toISOString().substr(17, 2) + \"s\";\n}\nelse\n{\n    // Only show MINUTES and SECONDS as our uptime number is not big enough for anything else.\n    incomingHeartbeat.uptime = date.toISOString().substr(14, 2) + \"m \" + date.toISOString().substr(17, 2) + \"s\";\n}\n//incomingHeartbeat.uptime = date.toISOString().substr(11, 8);\n\ndate = new Date(Date.now());\nincomingHeartbeat.lastCheckin = date.toISOString();\n/////////////////////////////\n\n\nvar heartbeatObjects = global.get('heartbeatObjects') || {};\n\nvar puzzleID = incomingHeartbeat.puzzleID;\n\nheartbeatObjects[puzzleID] = incomingHeartbeat;\n\nglobal.set('heartbeatObjects', heartbeatObjects);\n \nmsg.payload = heartbeatObjects;\n\nreturn msg;","outputs":1,"noerr":0,"x":289.1666793823242,"y":1041.3333930969238,"wires":[["f2295182.5cdbc","9f60ba2c.873348"]]},{"id":"f2295182.5cdbc","type":"function","z":"99c79979.bfcad8","name":"Pre-Process Data for HTML Rendering","func":"var incomingData = msg.payload;\n\nconst entries = Object.entries(incomingData);\n\nvar newPayload = [];\n\nfor (const [puzzleID, objHeartbeat] of entries) {\n    newPayload.push( incomingData[puzzleID] );\n}\n\nmsg.payload = newPayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":673.4999694824219,"y":1027.0000591278076,"wires":[["2203fc61.8e9564"]]},{"id":"9f60ba2c.873348","type":"switch","z":"99c79979.bfcad8","name":"WHICH PUZZLE?","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"fuel","vt":"str"},{"t":"cont","v":"pressure","vt":"str"},{"t":"cont","v":"power","vt":"str"},{"t":"cont","v":"patch","vt":"str"},{"t":"cont","v":"keys","vt":"str"},{"t":"cont","v":"reactor","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":343.1666831970215,"y":1179.000087738037,"wires":[["18dbac9e.7173e3"],["77c65e5b.b35f9"],["6a8bf8a.472e508"],["57f6a047.71dd7"],["5ddf65d6.b2552c"],["6e4b3ca0.41a2c4"]]},{"id":"18dbac9e.7173e3","type":"trigger","z":"99c79979.bfcad8","op1":"","op2":"LOST HEARTBEAT","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"FUEL HEARTBEAT TIMER","x":640.6666831970215,"y":1080.000087738037,"wires":[["1ec68e02.1eee82"]]},{"id":"1ec68e02.1eee82","type":"link out","z":"99c79979.bfcad8","name":"LOST HEARTBEAT - PUZZLE 1","links":["aa38d7fb.4aa588"],"x":855.3095564842224,"y":1079.5715503692627,"wires":[]},{"id":"ca2a3b60.e1f4e8","type":"comment","z":"512d279b.4ca158","name":"PUZZLE RESET","info":"","x":124.99994659423828,"y":491.42859649658203,"wires":[]},{"id":"329c6c6e.284e24","type":"comment","z":"512d279b.4ca158","name":"LOST HEARTBEAT","info":"","x":117.85713958740234,"y":374.2857246398926,"wires":[]},{"id":"7d74f546.517b3c","type":"comment","z":"512d279b.4ca158","name":"SOLVED OUT","info":"","x":1177.8570976257324,"y":315.7143096923828,"wires":[]},{"id":"cef9cce2.3963b","type":"comment","z":"be750b2a.827588","name":"LOST HEARTBEAT","info":"","x":104.28572082519531,"y":318.5714054107666,"wires":[]},{"id":"cef7dce.7a2fb2","type":"comment","z":"be750b2a.827588","name":"PUZZLE RESET","info":"","x":107.14280700683594,"y":515.7143363952637,"wires":[]},{"id":"59b1d737.f45c48","type":"comment","z":"be750b2a.827588","name":"SOLVED OUT","info":"","x":1191.9047927856445,"y":246.66668605804443,"wires":[]},{"id":"7136bbe5.793f24","type":"exec","z":"be750b2a.827588","command":"omxplayer -o local /home/pi/Downloads/ms/pressure_success.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY \"PRESSURE EQUALIZED\"","x":895.7142944335938,"y":418.5714416503906,"wires":[[],[],[]]},{"id":"ebfcce62.9b3f9","type":"comment","z":"62fad8ec.96f7a8","name":"LOST HEARTBEAT","info":"","x":180.00000762939453,"y":378.5714416503906,"wires":[]},{"id":"c4e9295f.6d0158","type":"comment","z":"62fad8ec.96f7a8","name":"PUZZLE RESET","info":"","x":189.99996185302734,"y":552.8571510314941,"wires":[]},{"id":"8ead9f43.e231e","type":"comment","z":"62fad8ec.96f7a8","name":"SOLVED OUT","info":"","x":1261.90478515625,"y":312.1428470611572,"wires":[]},{"id":"5623b509.fc338c","type":"exec","z":"5f25f351.1372ac","command":"omxplayer -o local /home/pi/Downloads/ms/patch_success.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY \"SWITCHES NOW ACTIVE\"","x":1162.3809204101562,"y":504.99999618530273,"wires":[[],[],[]]},{"id":"7c68a86f.e9e098","type":"comment","z":"5f25f351.1372ac","name":"LOST HEARTBEAT","info":"","x":137.14286041259766,"y":440.00000381469727,"wires":[]},{"id":"d274eea7.8a731","type":"comment","z":"5f25f351.1372ac","name":"PUZZLE RESET","info":"","x":152.85709381103516,"y":628.5714168548584,"wires":[]},{"id":"b994a02f.57cf1","type":"comment","z":"5f25f351.1372ac","name":"SOLVED OUT","info":"","x":1241.190517425537,"y":365.00000381469727,"wires":[]},{"id":"13326e1a.b594d2","type":"comment","z":"61f84baa.8c8894","name":"LOST HEARTBEAT","info":"","x":95,"y":334.2857189178467,"wires":[]},{"id":"fffd3138.051f2","type":"comment","z":"61f84baa.8c8894","name":"PUZZLE RESET","info":"","x":155.71424102783203,"y":590.0000152587891,"wires":[]},{"id":"b335fcc0.42758","type":"comment","z":"61f84baa.8c8894","name":"SOLVED OUT","info":"","x":1300.0000667572021,"y":257.1428632736206,"wires":[]},{"id":"7a00d3c6.b5cd6c","type":"comment","z":"61f84baa.8c8894","name":"PUZZLE ACTIVATE","info":"","x":112.14285278320312,"y":451.4285945892334,"wires":[]},{"id":"877d29a2.503cb8","type":"link out","z":"61f84baa.8c8894","name":"","links":[],"x":1200.7143557412282,"y":255.71430083683555,"wires":[]},{"id":"d4536f50.a5adc","type":"link out","z":"61f84baa.8c8894","name":"","links":["d8f41299.8d65c"],"x":1197.8572444915771,"y":292.8571548461914,"wires":[]},{"id":"71e5c8f1.8c67a8","type":"comment","z":"61f84baa.8c8894","name":"FAILED OUT","info":"","x":1298.5714111328125,"y":292.8571472167969,"wires":[]},{"id":"6c9dfadf.bf66d4","type":"exec","z":"61f84baa.8c8894","command":"omxplayer -o local /home/pi/Downloads/ms/reactor_reengaging.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY \"REACTOR RE-ENGAGING\"","x":1262.857177734375,"y":171.42857360839844,"wires":[[],[],[]]},{"id":"525a618f.2b7c9","type":"exec","z":"61f84baa.8c8894","command":"omxplayer.bin -o local /home/pi/Downloads/ms/reactor_active.mp3","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"PLAY \"REACTOR ACTIVE\"","x":1242.8572463989258,"y":27.5,"wires":[[],[],[]]},{"id":"40741198.baff5","type":"link out","z":"99c79979.bfcad8","name":"RESET PUZZLE 5","links":["788aeb73.8ab5d4"],"x":850.1190757751465,"y":220.23809623718262,"wires":[]},{"id":"7ece3698.dbd7c8","type":"mqtt in","z":"24f803df.6be70c","name":"","topic":"CIPO/keys/STATE","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":122.85714721679688,"y":310,"wires":[["65b7b11a.db7bc"]]},{"id":"65b7b11a.db7bc","type":"switch","z":"24f803df.6be70c","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"AUTO","vt":"str"},{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SOLVED","vt":"str"},{"t":"eq","v":"FAILED","vt":"str"},{"t":"eq","v":"REBOOTING","vt":"str"},{"t":"eq","v":"DISCONNECTED","vt":"str"},{"t":"eq","v":"UNKNOWN","vt":"str"},{"t":"eq","v":"LOST HEARTBEAT","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":338.3571472167969,"y":310,"wires":[["b2d1ff53.9e18e","1bd46796.464098","6cb7b177.9cb85"],["7ad5435b.ebf7cc","dadf4c01.7c684","6cb7b177.9cb85"],["704ac338.e856cc","96b3a6bd.d849a8","bda6f1bd.ee5b4"],["d98dd411.606b18","16d7c09f.d8c0af"],["5b1dfa7d.b74074"],[],["861b288a.34ee38"],["22c29989.545c36","1070d534.a676ab"]]},{"id":"b2d1ff53.9e18e","type":"change","z":"24f803df.6be70c","name":"AUTO CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.3571472167969,"y":157,"wires":[["bba4996.4ccf468"]]},{"id":"7ad5435b.ebf7cc","type":"change","z":"24f803df.6be70c","name":"ACTIVE CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":588.3571472167969,"y":199,"wires":[["bba4996.4ccf468"]]},{"id":"96b3a6bd.d849a8","type":"change","z":"24f803df.6be70c","name":"SOLVED CUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585.3571472167969,"y":249,"wires":[["bba4996.4ccf468"]]},{"id":"704ac338.e856cc","type":"change","z":"24f803df.6be70c","name":"TEXT TO SOLVED","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOLVED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.3571472167969,"y":450,"wires":[["22c29989.545c36","1070d534.a676ab"]]},{"id":"22c29989.545c36","type":"ui_text","z":"24f803df.6be70c","group":"d99cebb4.4adc38","order":7,"width":"4","height":"1","name":"","label":"STATE:","format":"{{msg.payload}}","layout":"row-left","x":1174.428539276123,"y":381.0000114440918,"wires":[]},{"id":"72360042.0ab17","type":"ui_button","z":"24f803df.6be70c","name":"BTN-ACTIVATE","group":"d99cebb4.4adc38","order":5,"width":"4","height":"1","passthru":true,"label":"ACTIVATE","tooltip":"","color":"","bgcolor":"00ff00","icon":"","payload":"ACTIVATE","payloadType":"str","topic":"","x":173.2857208251953,"y":538.0000267028809,"wires":[["d1cecb66.6eead8"]]},{"id":"10d8a681.4755a9","type":"ui_button","z":"24f803df.6be70c","name":"BTN-SOLVE","group":"d99cebb4.4adc38","order":5,"width":"4","height":"1","passthru":true,"label":"SOLVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SOLVE","payloadType":"str","topic":"","x":182.35714721679688,"y":581,"wires":[["d1cecb66.6eead8"]]},{"id":"d1cecb66.6eead8","type":"mqtt out","z":"24f803df.6be70c","name":"","topic":"COPI/keys/COMMANDS","qos":"1","retain":"","broker":"2314bf76.4267c","x":511.99998474121094,"y":583.1428833007812,"wires":[]},{"id":"bba4996.4ccf468","type":"mqtt out","z":"24f803df.6be70c","name":"","topic":"COLI/keys/ACTIVATE_CUE","qos":"1","retain":"","broker":"2314bf76.4267c","x":845.8571472167969,"y":199,"wires":[]},{"id":"dadf4c01.7c684","type":"change","z":"24f803df.6be70c","name":"TEXT TO ACTIVE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.8571472167969,"y":404,"wires":[["22c29989.545c36","1070d534.a676ab"]]},{"id":"1bd46796.464098","type":"change","z":"24f803df.6be70c","name":"TEXT TO AUTO","rules":[{"t":"set","p":"payload","pt":"msg","to":"AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585.8571472167969,"y":357,"wires":[["22c29989.545c36","1070d534.a676ab"]]},{"id":"788aeb73.8ab5d4","type":"link in","z":"24f803df.6be70c","name":"FROM GAME RESET","links":["a4c6dec0.a43b7","40741198.baff5"],"x":277.5000286102295,"y":621.1428298950195,"wires":[["d1cecb66.6eead8"]]},{"id":"eccd9f1f.3976f","type":"comment","z":"24f803df.6be70c","name":"LIGHT CUES","info":"","x":577.3571472167969,"y":110,"wires":[]},{"id":"d8f41299.8d65c","type":"link in","z":"24f803df.6be70c","name":"ACTIVATE PUZZLE","links":["a475891f.48ea18","d4536f50.a5adc"],"x":246.4285855293274,"y":483.57140350341797,"wires":[["fc77078.ee083f8"]]},{"id":"fc77078.ee083f8","type":"change","z":"24f803df.6be70c","name":"ACTIVATE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVATE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":357.14286041259766,"y":481.9999885559082,"wires":[["d1cecb66.6eead8"]]},{"id":"6cb7b177.9cb85","type":"function","z":"24f803df.6be70c","name":"GLOBAL/keys_solved=FALSE","func":"\nglobal.set('keys_solved', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":839.8571472167969,"y":288,"wires":[[]]},{"id":"bda6f1bd.ee5b4","type":"function","z":"24f803df.6be70c","name":"GLOBAL/keys_solved=TRUE","func":"\nglobal.set('keys_solved', 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":830.3571472167969,"y":324,"wires":[["ec868fbb.5cfd9"]]},{"id":"d98dd411.606b18","type":"change","z":"24f803df.6be70c","name":"TEXT TO FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":596.8571472167969,"y":502,"wires":[["22c29989.545c36","1070d534.a676ab"]]},{"id":"bc1933b0.a82f4","type":"ui_button","z":"24f803df.6be70c","name":"BTN-REBOOT","group":"","order":9,"width":"3","height":"1","passthru":true,"label":"DIAMOND SAFE","tooltip":"","color":"","bgcolor":"00ff00","icon":"","payload":"REBOOT","payloadType":"str","topic":"","x":179.71428680419922,"y":670.2856941223145,"wires":[["d1cecb66.6eead8"]]},{"id":"5b1dfa7d.b74074","type":"change","z":"24f803df.6be70c","name":"TEXT TO REBOOTING","rules":[{"t":"set","p":"payload","pt":"msg","to":"REBOOTING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":839.8571472167969,"y":491,"wires":[["22c29989.545c36","1070d534.a676ab"]]},{"id":"1070d534.a676ab","type":"ui_text","z":"24f803df.6be70c","group":"","order":10,"width":"3","height":"1","name":"ADVANCED: Current State","label":"STATE:","format":"{{msg.payload}}","layout":"col-center","x":1198.214370727539,"y":468.1428632736206,"wires":[]},{"id":"861b288a.34ee38","type":"change","z":"24f803df.6be70c","name":"TEXT TO UNKNOWN","rules":[{"t":"set","p":"payload","pt":"msg","to":"UNKNOWN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":871.8571472167969,"y":533,"wires":[["1070d534.a676ab","22c29989.545c36"]]},{"id":"3a988f5a.abdb5","type":"exec","z":"24f803df.6be70c","command":"omxplayer -o local /home/pi/Downloads/ms/meltdown_success.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY \"MELTDOWN AVERTED\"","x":1276.000015258789,"y":129.85714721679688,"wires":[[],[],[]]},{"id":"c6a6f2f4.836fe","type":"link in","z":"24f803df.6be70c","name":"LOST HEARTBEAT","links":["f5caf756.4f27e8"],"x":227.64287948608398,"y":366.99998474121094,"wires":[["65b7b11a.db7bc"]]},{"id":"3c064f81.3491b","type":"comment","z":"24f803df.6be70c","name":"LOST HEARTBEAT","info":"","x":115.85714721679688,"y":368.2857189178467,"wires":[]},{"id":"c877c465.e590c8","type":"comment","z":"24f803df.6be70c","name":"PUZZLE RESET","info":"","x":176.5713882446289,"y":624.0000152587891,"wires":[]},{"id":"8404fae1.661118","type":"comment","z":"24f803df.6be70c","name":"SOLVED OUT","info":"","x":1320.857213973999,"y":291.1428632736206,"wires":[]},{"id":"b526aff2.f6482","type":"comment","z":"24f803df.6be70c","name":"PUZZLE ACTIVATE","info":"","x":133,"y":485.4285945892334,"wires":[]},{"id":"ec868fbb.5cfd9","type":"link out","z":"24f803df.6be70c","name":"SOLVED OUT","links":["5de27108.d344e"],"x":1221.5715029580251,"y":289.71430083683555,"wires":[]},{"id":"16d7c09f.d8c0af","type":"link out","z":"24f803df.6be70c","name":"FAILED OUT","links":[],"x":1218.714391708374,"y":326.8571548461914,"wires":[]},{"id":"f2010610.ae6728","type":"comment","z":"24f803df.6be70c","name":"FAILED OUT","info":"","x":1319.4285583496094,"y":326.8571472167969,"wires":[]},{"id":"c9adda5b.2d2f28","type":"exec","z":"24f803df.6be70c","command":"omxplayer -o local /home/pi/Downloads/ms/reactor_reengaging.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY \"REACTOR RE-ENGAGING\"","x":1283.7143249511719,"y":205.42857360839844,"wires":[[],[],[]]},{"id":"cf2b4be9.3fe938","type":"exec","z":"24f803df.6be70c","command":"omxplayer -o local /home/pi/Downloads/ms/reactor_active.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"PLAY \"REACTOR ACTIVE\"","x":1263.7143936157227,"y":61.5,"wires":[["de7f6f8b.728cc"],[],["d4fcafa5.1f7e1"]]},{"id":"d4fcafa5.1f7e1","type":"debug","z":"24f803df.6be70c","name":"RETURN CODE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1521.5715103149414,"y":119.7142858505249,"wires":[]},{"id":"de7f6f8b.728cc","type":"debug","z":"24f803df.6be70c","name":"STDOUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1537.2857284545898,"y":78.28571319580078,"wires":[]},{"id":"6e4b3ca0.41a2c4","type":"trigger","z":"99c79979.bfcad8","op1":"","op2":"LOST HEARTBEAT","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"REACTOR HEARTBEAT TIMER","x":658.5714111328125,"y":1342.857177734375,"wires":[["6255a65a.b7df08"]]},{"id":"6255a65a.b7df08","type":"link out","z":"99c79979.bfcad8","name":"LOST HEARTBEAT - PUZZLE 5","links":["2e9b9a8b.6dd356"],"x":854.8571376800537,"y":1342.857120513916,"wires":[]},{"id":"5fa01e2.e0726e","type":"mqtt in","z":"99c79979.bfcad8","name":"PING/reactor","topic":"CIPO/PING/reactor","qos":"1","datatype":"auto","broker":"2314bf76.4267c","x":564.9999828338623,"y":771.4285888671875,"wires":[["60b61664.566748"]]},{"id":"60b61664.566748","type":"mqtt out","z":"99c79979.bfcad8","name":"PONG/reactor","topic":"COPI/reactor/PONG","qos":"1","retain":"","broker":"2314bf76.4267c","x":846.4999828338623,"y":771.4285888671875,"wires":[]},{"id":"ac5d6d8f.d8bde","type":"link in","z":"c227dc9a.9174e","name":"FROM FUEL","links":["d746f313.d3223"],"x":154.28565788269043,"y":40.47620868682861,"wires":[["2d47b339.8cec6c"]]},{"id":"a475891f.48ea18","type":"link out","z":"c227dc9a.9174e","name":"TO KEYS","links":["d8f41299.8d65c"],"x":799.0475215911865,"y":78.33336925506592,"wires":[]},{"id":"702b8868.6aaf48","type":"link in","z":"c227dc9a.9174e","name":"FROM PRESSURE","links":["af16e110.ed8ce"],"x":159.28569793701172,"y":97.61906147003174,"wires":[["2d47b339.8cec6c"]]},{"id":"c699384f.513648","type":"link in","z":"c227dc9a.9174e","name":"FROM POWER","links":["c617f3a8.b35cb"],"x":158.57139778137207,"y":149.52383422851562,"wires":[["2d47b339.8cec6c"]]},{"id":"c4fed6e4.d37c68","type":"link in","z":"c227dc9a.9174e","name":"FROM PATCH","links":["187ffaad.407375"],"x":159.2856960296631,"y":204.76195812225342,"wires":[["2d47b339.8cec6c"]]},{"id":"2d47b339.8cec6c","type":"function","z":"c227dc9a.9174e","name":"ALL 4 PUZZLES MUST BE SOLVED","func":"var neededNumberOfPuzzles = 4;\n\nvar fuelSolved = global.get('fuel_solved') || 0;\nvar pressureSolved = global.get('pressure_solved') || 0;\nvar powerSolved = global.get('power_solved') || 0;\nvar patchSolved = global.get('patch_solved') || 0;\n\nvar numberOfSolvedPuzzles = fuelSolved + pressureSolved + powerSolved + patchSolved;\n\nif (numberOfSolvedPuzzles == neededNumberOfPuzzles)\n{\n    msg.payload = numberOfSolvedPuzzles;\n    return msg;\n}\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"x":433.5714569091797,"y":80.47622966766357,"wires":[["a475891f.48ea18"]]},{"id":"8c8f220b.dc66f","type":"change","z":"61f84baa.8c8894","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":794.1666564941406,"y":46.66671276092529,"wires":[["525a618f.2b7c9"]]},{"id":"61f65175.f7f1a","type":"exec","z":"99c79979.bfcad8","command":"omxplayer.bin -o local --loop /home/pi/Downloads/ms/ambience_old_school.mp3","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"PLAY AMBIENCE","x":419.9999771118164,"y":43.33333206176758,"wires":[[],[],[]]},{"id":"d89df2d6.99224","type":"ui_media","z":"99c79979.bfcad8","group":"c41c77e7.51a588","name":"","width":"12","height":"2","order":0,"category":"DEFAULT","file":"top_pg.jpg","layout":"adjust","showcontrols":false,"loop":false,"onstart":false,"scope":"local","tooltip":"","x":675.8333333333333,"y":926.6666666666665,"wires":[[]]}]